%section#add
	%form{:action => "/", :method => "post"}
		%textarea{:name => "content", :placeholder => "Your note..."}
		%input{:type => "submit", :value => "Take Note!", :id => "note_input"}
- @notes.each do |note|
	- note.status = :ohshit if note.created_at < Date.today && note.status == :new
	%article{:class => "#{note.status}"}
		= note.content
		%p.icons
			%a{:href => "/#{note.id}/complete"} ↯
			%a{:href => "/#{note.id}"} &#9998
			%a{:href => "/#{note.id}/slack"} &#8619
			%a.right.meta{:href => "/#{note.id}/delete"} &#9762
