%html
  %head
  %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"}
  %script{:type => "text/javascript", :src => "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js" }
  %link{:href => "datepicker.css", :rel => "stylesheet"}
    :javascript
      $(function() {
        $("#datepicker").datepicker();
      });
      $(function() {
        $("#dp").change(function(){
          $("#dp").submit();
        });
        $('#note_entry').keydown(function (e) {
          if (e.which == 13) {
            jQuery(this).blur();
            jQuery("#note_input").focus().click();
          }
          if (e.which == 27) {
            e.preventDefault();
            $("#note_entry").val("");
          }
        });
      });
    %meta{:charset => "utf8"}
      %title= @title + ' Recall '
      %link{:href => "/reset.css", :rel => "stylesheet"}
      %link{:href => "style.css", :rel => "stylesheet"}
  %body
    %header
      %hgroup
        %h1
          %a{:href => "/"} crc
        %h2= "Task List For " + $curday.to_s
        %h3
          %a{:href => "/prevday"} &#8668
          %a{:href => "/present"} &#9784
          %a{:href => "/nextday"} &#8669
        %h4
          %p
            %form{:action => "/datejump", :method => "post", :id => "dp"}
              %input#datepicker{:type => "text", :name => "newdate", :value => "Jump to Date!"}
- if Date.today <= $curday
  %section#new_note
    %form{:action => "/", :method => "post"}
      %textarea{:name => "content", :placeholder => "Your note...", :id => "note_entry"}
      %input{:type => "hidden", :name => "repeater", :value => "0"}
      %input{:type => "checkbox", :name => "repeater", :value => "1"} Repeater
      %input{:type => "submit", :value => "Take Note!", :id => "note_input"}
  %br
- @notes.each do |note| 
  - note.status = :overdue if note.created_at < Date.today && note.status == :new
  - note.status = :repeater if note.repeater == true && note.status == :new
  - if note.created_at == $curday || note.status == :overdue && note.created_at < $curday || note.completed_at == $curday || note.status == :doing
    %article{:class => "#{note.status}"}
      - if !note.complete
        %a.content{:href => "/#{note.id}"}= note.content
        -#%a.content{:id => "note_content"}= note.content #trying to get clickable edits
      - else
        = note.content
      = note.created_at if (note.status == :overdue || note.active == true || note.created_at != note.completed_at) && $curday != note.created_at
      = "  (R)" if (note.repeater == true && note.status == :done)
      %p.comment
        - if note.duration != nil && note.duration > 0 && note.active == false
          Duration:
          = note.duration.round
          min
        - if !note.comment.nil? && (note.complete == true || note.status == :slack)
          %br= note.comment
      %p.icons.meta
        - unless note.status == :slack || note.complete == true
          %a.meta{:href => "/#{note.id}/activate"} ↯
          %a.meta{:href => "/#{note.id}/slack"} &#8621
        %a.meta{:href => "/#{note.id}/complete"} &#9635
        - if note.complete == true || note.status == :slack
          %a.meta{:href => "/#{note.id}/comment"} ...
        - unless note.status == :slack
          %a.right.meta{:href => "/#{note.id}/delete"} &#9762
%br
%br
%a{:href => "/table", :id => "shop"}
  %button#note_input
    Shopping List
