%section#add
	%form{:action => "/", :method => "post"}
		%textarea{:name => "content", :placeholder => "Your note..."}
		%input{:type => "submit", :value => "Take Note!"}
- @notes.each do |note|
	- if note.status == :slack
		<article #{'class="slack"'}>
	-else 
		<article #{'class="complete"' if note.status == :done}>
	= note.content
	= note.status
	%a{:href => "/#{note.id}"} [edit]
	%a{:href => "/#{note.id}/slack"} [slacked]
	%a{:href => "/#{note.id}/complete"} ↯
	%p.meta
		Created: #{note.created_at}
	%form{:align => "right", :action => "/#{note.id}", :method => "post"}
		%input{:name => "_method", :type => "hidden", :value => "delete"}
		%input{:align => "right", :type => "submit", :value => "Junk it!"}
	</article>
