%html
	%head
		%meta{:charset => "utf8"}
			%title= @title + ' | Recall '
			%link{:href => "/reset.css", :rel => "stylesheet"}
				%link{:href => "style.css", :rel => "stylesheet"}
	%body
		%header
			%hgroup
				%h1
					%a{:href => "/"} crc
				%h2= "Task List For " + $curday.to_s
				%h3
					%a{:href => "/prevday"} &#8668
					%a{:href => "/present"} &#9784
					%a{:href => "/nextday"} &#8669
- if Date.today <= $curday
	%section#add
		%form{:action => "/", :method => "post"}
			%textarea{:name => "content", :placeholder => "Your note...", :id => "note_entry"}
			%input{:type => "submit", :value => "Take Note!", :id => "note_input"}
- @notes.each do |note| 
	- note.status = :ohshit if note.created_at < Date.today && note.status == :new
	- if note.created_at == $curday || note.status == :ohshit && note.created_at < $curday
		%article{:class => "#{note.status}"}
			%a.content{:href => "/#{note.id}"}= note.content
			= note.created_at if note.status == :ohshit && $curday != note.created_at
			%p.comment
				= note.comment if !note.comment.nil? && (note.status == :done || note.status == :slack)
				- if note.status == :done && note.duration != nil && note.duration > 0
					Duration:
					= note.duration.round
					min
			%p.icons.meta
				- unless note.status == :slack || note.status == :done
					%a.meta{:href => "/#{note.id}/activate"} ↯
				- unless note.status == :done || note.status == :slack
					%a.meta{:href => "/#{note.id}/slack"} &#8621
				%a.meta{:href => "/#{note.id}/complete"} &#9635
				- if note.status == :done || note.status == :slack
					%a.meta{:href => "/#{note.id}/comment"} ...
				- unless note.status == :slack
					%a.right.meta{:href => "/#{note.id}/delete"} &#9762
