%table{:border => '1'}
  %tbody
    %tr
      %td= 'thefreshgrocer'
      %td= 'Boneless Chicken Breast'
      %td= 'Your Choice! WOW! $1.99 LB. W/C'
    %tr
      %td= 'acmemarkets'
      %td= 'All Lancaster Brand or Perdue Boneless Skinless Chicken Breast'
      %td= 'BUY 1 GET 1 FREE Equal or lesser value ...more'
    %tr
      %td= 'acmemarkets'
      %td= 'Butterball Oven Roasted Turkey Breast'
      %td= '$5.99 lb.'
    %tr
      %td= 'acmemarkets'
      %td= 'Dietz & Watson Chicken Breast'
      %td= '$8.99 lb.'
    %tr
      %td= 'acmemarkets'
      %td= 'Hatfield Simply Tender Boneless Center Pork Chops or Roast'
      %td= '$4.99 lb.'
    %tr
      %td= 'acmemarkets'
      %td= 'Lancaster Brand Beef Steak or Chicken Breast Kabobs'
      %td= '$5.99 lb.'
    %tr
      %td= 'acmemarkets'
      %td= 'Lancaster Brand Beef Top Round Steak for London Broil'
      %td= '$4.49 lb.'
    %tr
      %td= 'acmemarkets'
      %td= 'Lancaster Brand Steakhouse Roast Beef'
      %td= '$9.99 lb.'
    %tr
      %td= 'acmemarkets'
      %td= 'Steakhouse Choice Beef Top Round Steak for London Broil'
      %td= '$5.49 lb.'
    %tr
      %td= 'pathmark'
      %td= 'America`s Choice® Boneless Chicken Breast Small Pack'
      %td= '2.38 lb.'
    %tr
      %td= 'pathmark'
      %td= 'America`s Choice® Boneless Chicken Breast'
      %td= '1.88 lb.'
    %tr
      %td= 'pathmark'
      %td= 'Tender-N-Juicy Boneless Chicken Breast Tenders'
      %td= '3.98 lb.'
    %tr
      %td= 'superfresh'
      %td= 'America`s Choice® Boneless Chicken Breast Small Pack'
      %td= '2.38 lb.'
    %tr
      %td= 'superfresh'
      %td= 'America`s Choice® Boneless Chicken Breast'
      %td= '1.88 lb.'
    %tr
      %td= 'superfresh'
      %td= 'America`s Choice® Fresh Thin Sliced Boneless Chicken Breast'
      %td= '4.49 lb.'
    %tr
      %td= 'superfresh'
      %td= 'Angus Beef Boneless Shoulder London Broil'
      %td= '4.99 lb.'
    %tr
      %td= 'superfresh'
      %td= 'Angus Beef Sirloin Tip London Broil'
      %td= '4.99 lb.'
%a{:href => "/present"} &#9784
